<div class="row mt-4">
    <div class="col-lg-12 col-md-6 col-sm-4">
        <form method="POST" action="/create">
            <div class="mb-3">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Please fill your name">
            </div>
            <div class="mb-3">
                <label for="hobby" class="form-label">Hobby</label>
                <input type="text" class="form-control" id="hobby" name="hobby" placeholder="Please fill the hobby">
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="text" class="form-control" id="age" name="age" placeholder="Please input age">
            </div>
            <div class="mb-3">
                <label for="game" class="form-label">Select Game</label>
                <select class="form-select" aria-label="Game select" name="game" id="game">
                    <option selected>Select your game</option>
                    <option value="Dying Light : The Beast">Dying Light : The Beast</option>
                    <option value="Manor Lords">Manor Lords</option>
                    <option value="Dying Light 2 : Stay Human">Dying Light 2 : Stay Human</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="row mt-4">
    <div class="col-lg-12 text-center">
        <h3>Biodata Table</h3>
    </div>
    <div class="col-lg-12 text-center p-4 m-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Hobby</th>
                    <th scope="col">Game</th>
                    <th scope="col">Umur</th>
                    <th scope="col" colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each biodatas}}
                <tr>
                    <td>#</td>
                    <td>{{this.name}}</td>
                    <td>{{this.hobby}}</td>
                    <td>{{this.game}}</td>
                    <td>{{this.age}} tahun</td>
                    <td>
                        <a href="/biodata/edit/{{this._id}}" class="btn btn-info btn-sm">Edit</a>
                        <form action="/biodata/delete/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
                            <button class="btn btn-warning btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>